
.avatarBox {
    text-align: right;
}

.descBox {
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 649px) {
    .notifyBox {
        margin-top: 25px;
    }
}

